<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
          package="com.mrblasto.gcmchatclient"
          android:versionCode="1"
          android:versionName="1.0">
    <uses-sdk android:minSdkVersion="17"/>
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE"/>
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE"/>
    <uses-permission android:name="android.permission.GET_ACCOUNTS" />
    <uses-permission android:name="android.permission.WAKE_LOCK" />
    <uses-permission android:name="com.google.android.c2dm.permission.RECEIVE" />
    <permission android:name="com.mrblasto.chatclient.permission.C2D_MESSAGE"
                android:protectionLevel="signature" />
    <uses-permission android:name="com.mrblasto.gcmchatclient.permission.C2D_MESSAGE" />
    <application android:label="@string/app_name" android:icon="@drawable/ic_launcher" android:theme="@style/MyTheme">

        <activity android:name="com.mrblasto.gcmchatclient.MainActivity"
                  android:screenOrientation="portrait"
                  android:label="@string/app_name">
            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>
                <category android:name="android.intent.category.LAUNCHER"/>
            </intent-filter>
        </activity>
        <activity
                android:name="com.mrblasto.gcmchatclient.AccountActivity"
                android:parentActivityName="com.mrblasto.gcmchatclient.MainActivity"
                android:screenOrientation="portrait">
            <meta-data
                    android:name="android.support.PARENT_ACTIVITY"
                    android:value="com.mrblasto.gcmchatclient.MainActivity"/>
        </activity>
        <receiver
                android:name="com.mrblasto.gcmchatclient.gcm.GcmBroadcastReceiver"
                android:permission="com.google.android.c2dm.permission.SEND" >
            <intent-filter>
                <action android:name="com.google.android.c2dm.intent.RECEIVE" />
                <category android:name="com.hmkcode.android.gcm" />
            </intent-filter>
        </receiver>
        <service android:name="com.mrblasto.gcmchatclient.gcm.GcmMessageHandler" />
        <meta-data android:name="com.google.android.gms.version"
                   android:value="@integer/google_play_services_version" />
        <provider
                android:name="com.mrblasto.gcmchatclient.database.DataProvider"
                android:authorities="com.mrblasto.gcmchatclient.provider"
                android:exported="false" >
        </provider>
    </application>
</manifest>
